export const {{.ProjectName}} = defineComponent({
    setup() {
        return {
            template: `
                <div class="component-{{.ProjectName}}">
                    <h3>{{.ProjectName}} Component</h3>
                </div>
            `
        };
    }
});
