{
  "name": "{{.ProjectName}}",
  "version": "1.0.0",
  "type": "module",
  "scripts": {
    "dev": "node ./framework/server/generate-manifest.js && cd framework/engine-go && go run ./cmd/server",
    "dev:spa": "vite",
    "build": "vite build",
    "preview": "vite preview",
    "manifest": "node ./framework/server/generate-manifest.js"
  },
  "devDependencies": {
    "fast-glob": "^3.3.3",
    "unplugin-auto-import": "^0.17.0",
    "vite": "^5.0.0"{{if .IsTS}},
    "typescript": "^5.0.0"{{end}}
  }
}
