{
  "compilerOptions": {
    "target": "ESNext",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "strict": true,
    "esModuleInterop": true,
    "skipLibCheck": true,
    "paths": {
      "fusee-framework": ["./framework/types/index.d.ts"]
    }
  },
  "include": ["app/**/*", "framework/**/*", "auto-imports.d.ts"]
}
