{
  "compilerOptions": {
    "target": "ESNext",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "strict": true,
    "esModuleInterop": true,
    "skipLibCheck": true,{{if .IsJSX}}
    "jsx": "react-jsx",
    "jsxImportSource": "./framework/core",{{end}}
    "paths": {
      "fusee-framework": ["./framework/types/index.d.ts"]
    }
  },
  "include": ["app/**/*", "framework/**/*", "auto-imports.d.ts"]
}
